*{
    margin: 0;
    padding: 0;
}
#header nav{
  
    background-color: rgb(48, 63, 164);
    font-weight: bold;
    
}
#header {
    position: fixed;
    top: 0;
	z-index: 10;
}
/* nav div ul li : hover{
    backgroud
} */
#header a img{
    justify-content: center;
    margin-left: 55px;
    margin-right: 50px;
    /* padding-left: auto; */
}
/* section */
section{
    width: 100%;
}
section>div{
    width: 80%;
    margin: auto;
}
.btn{
    padding: 10px 30px;
    width: fit-content;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s;
}
.btn :hover{
    background: transparent;
    color: rgb(43, 226, 195);
}
.btn btn-primaryTransparent{
    background: transparent;
    border: 2px solid red;
}
.iconLeft{
    margin-left: 10px;
    margin-right: 10px;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading h1{
    font-size: 40px;
    color: green ;
}
.heading p{
    color:rgb(111, 35, 77);
    text-align: center;
}
a{
    text-decoration:dotted;
}
#phone{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    text-align: right;
    float: right;
    /* margin-left: 300px; */
    background-color: aliceblue;
    color: rgb(30, 0, 128);
    padding-left: 10px;
    border-radius: 25px;
  
}
#phone span{
    padding-top: 10px;
}
#phone a{
    color: green;
}
.totopnav-right{
    float: right;
}

@media only screen and (max-width: 768px){
    section>div{
        width: 90%;    

    }
    .heading h1{
        font-size: 50px;
    }
	
	
}
@media (max-width: 600px) {
	#phone {
	  display: none;
	}
  }
/* testinomial */

/* testinomial */
